* {
    text-decoration: none;
    list-style: none;
    margin: 0px;
}

body {
    background-color:#282634;
    color: white;
    text-align: center;

    display: grid;
    grid-template-columns:auto;
    grid-template-rows: auto; 
    grid-template-areas: "nav-behind"
                         "landing"
                         "about"
                         "history"
                         "goals"
                         "projects"
                         "experiences"
                         "achievements"
                         "blog"
                         "socials"
                         "contact"
                         "footer";
}

h1 {
    font-family: 'Poppins', sans-serif;
}

h3 {
    font-family: 'Poppins', sans-serif;
    padding-top: 2em;
}

p {
    font-family: 'Poppins', sans-serif;
    padding: 1em;
    font-size: 1.2em;
}

li {
    font-family: 'Poppins', sans-serif;
    list-style: square;
}

nav {
    position:fixed;
    background-color: #486060;
    width:100%;
}
nav li{
    display:inline;
    padding: 2em;
}
.nav-behind {
    grid-area:nav-behind;
}

.landing h1 {
    grid-area:landing;
    font-family:'Open Sans', sans-serif;
    font-size:6em;
}

.landing h1:nth-of-type(2) {
    grid-area:landing;
    font-family:'Open Sans', sans-serif;
    font-size:6em;
    color: magenta;
    position: absolute;
    z-index: -1;
    top:72px;
    left: 340px;
}

.landing h1:nth-of-type(3) {
    grid-area:landing;
    font-family:'Open Sans', sans-serif;
    font-size:6em;
    color: cyan;
    position: absolute;
    top:62px;
    left: 336px;
    z-index: -2;
}

.landing p {
    grid-area:landing;
    font-family:'Open Sans', sans-serif;
    font-size:4em;
    color: white;
}

.landing p:nth-of-type(2){
    grid-area:landing;
    font-family:'Open Sans', sans-serif;
    font-size:4em;
    color: magenta;
    position: absolute;
    top: 201px;
    left: 310px;
    z-index: -1;
}

.landing p:nth-of-type(3){
    grid-area:landing;
    font-family:'Open Sans', sans-serif;
    font-size:4em;
    color: cyan;
    position: absolute;
    top: 194px;
    left: 304px;
    z-index: -2;
}

.about {
    grid-area:about;
    padding-bottom: 5em;
}

.about-img {
    height: 200px;
    width:200px;
    background-color:white;
}

.history {
    grid-area:history;
    padding-bottom: 5em;
}

.goals {
    grid-area:goals;
    padding-bottom: 5em;
}

.projects {
    grid-area:projects;
    padding-bottom: 5em;
}

.project-1 {
    height: 300px;
    width: 300px;
    background-color:white;
}

.project-2 {
    height: 300px;
    width: 300px;
    background-color:white;
}

.project-3 {
    height: 300px;
    width: 300px;
    background-color:white;
}

.experiences {
    grid-area:experiences;
    padding-bottom: 5em;
}

.achievement-1 {
    height: 300px;
    width: 300px;
    background-color:white;
}

.achievement-2{
    height: 300px;
    width: 300px;
    background-color:white;
}

.achievements {
    grid-area:achievements;
    padding-bottom: 5em;
}

.blog {
    grid-area:blog;
    padding-bottom: 5em;
}

.socials {
    grid-area:socials;
    padding-bottom: 5em;
}

.twitter{
    height: 300px;
    width: 300px;
    background-color:white;
}

.linkedIn{
    height: 300px;
    width: 300px;
    background-color:white;
}

.gitHub{
    height: 300px;
    width: 300px;
    background-color:white;
}

.contact {
    grid-area:contact;
    padding-bottom: 5em;
}

footer {
    grid-area: footer;
}


